@charset "UTF-8";
body {
  background-color: #ffffff;
}
.navbar {
  background-color: #fafafa;
}

.markdown-body p {
  padding-left: 1em;
  padding-right: 1em;
}

.markdown-body ul {
  padding-left: 2em;
}

#code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background-color: #eee;
}
.CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  font-family: monospace;
  letter-spacing: 0.025em;
  line-height: 1.25;
  font-size: 18px;
  height: auto !important;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch;
background-color: #eee;
}

@media (min-width: 768px) {
  #in {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    overflow: auto;
  }
  #out {
    position: fixed;
    top: calc(50%-80px);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  #in {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
  }
  #out {
    position: fixed;
    top: 80px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 20px;
  }
}
